#navbar{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

a{
    margin-top: 1rem;
    margin-right: 2rem;
}



#purchased_vouchers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

#purchased_vouchers>div{
    border: 1px solid black;
    text-align: center;
    margin-top: 1rem;
}